* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

body {
    overflow-x: hidden;
    height: 100%;
    background: linear-gradient(to right, #4682B4, #23445f);
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100hz;
    width: 97%;
    padding: 20px;
}

hr {
    margin-right: 200px;
    margin-left: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.div-nome {
    margin-top: 4%;
    text-align: center;
    height: 500px;
    width: 60%;
    border-radius: 10px;
    background-color: white;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(30px); 
    position: relative;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.text-white {
    color: white;
}

.logo {
    margin-top: 30px;
    transition: transform 0.5s ease-in-out;
}

.logo:hover {
    transform: translateY(-10px);
}

.titulo {
    text-align: center;
    color: #4682B4;
}

form {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.input-nome {
    color: #363636;
    width: 50%;
    height: 40px;
    background-color: rgb(218, 218, 218);
    border-radius: 10px;
    border: none;
    padding: 0px 10px;
}

.button-enviar {
    background-color: #4682B4;
    color: white;
    font-weight: bold;
    width: 52.5%;
    height: 40px;
    border-radius: 10px;
    border: none;
    margin-top: 10px;
    padding: 0px 10px;
}
